
<h1 style="color:blue; text-align:center; " >Welcome to Flatiron Kitchen!</h1>

<img src="https://libertyhouserestaurant.com/wp-content/uploads/sites/13/2016/11/slide-restaurant.jpg" width=50% style="position:absolute; right: 0px; left: 340px">
